<!DOCTYPE html>
<html>
  <head>
    <title>Contact List</title>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <% if session[:success] %>
      <p class="success"><%= session.delete(:success) %></p>
    <% elsif session[:error] %>
      <p class="error"><%= session.delete(:error) %></p>
    <% end %>
    <%== yield %>
  </body>
</html>